# dependencias
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
/build

# entorno (¡nunca subir llaves!)
.env
.env.local
.env*.local

# vercel
.vercel

# supabase
/supabase/.temp
/supabase/.branches

# logs y sistema
*.log
.DS_Store
npm-debug.log*
